/* .small card warp  */
.small-card-container {
  width: 100%;
  max-width: 100%;
}
.small-card-warp {
  max-width: 100%;
  width: 540px;
}
.small-card-top-shape {
  width: 100%;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.small-card-top-shape::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 60px;
  /* background-color: #1e1e1e; */
  top: -20px;
  right: -50px;
  transform: skewX(20deg);
  border: 1px solid #ff7a00;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 5px;
  max-width: 100%;
  z-index: -1;
}

.small-card-start {
  padding-left: 48px;
  display: flex;
  justify-content: end;
}

.small-cart-hours {
  display: flex;
  align-items: center;
  justify-content: end;
}

.user-title h4 {
  font-size: 17px;
  font-weight: normal;
}

.user-title span {
  font-size: 14px;
}

/* .big card warp css*/
.big-card-warp {
  overflow: hidden;
  margin-top: 50px;
}

.card {
  border: 1px solid #ff7a00;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  /* overflow: hidden; */
}

.top-shape {
  width: 90%;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.top-shape::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 60px;
  background-color: #1e1e1e;
  top: -20px;
  right: -50px;
  transform: skewX(20deg);
  border: 1px solid #ff7a00;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 5px;
  max-width: 100%;
  z-index: -1;
}

/* user and start  */
.user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 15px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}
.user-starts {
  display: flex;
  align-items: center;
  justify-content: start;
}

.start ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.start {
  padding-left: 48px;
}

.start ul li {
  padding: 10px 6px;
  margin-left: -3px;
  margin-right: 7px;
}

.big-cart-star ul li:last-child {
  color: #fff;
}

.content p {
  font-size: 15px;
  letter-spacing: 0.2px;
}
/* like-reply-area */
.like-reply-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
/* shape */
.triangle-shape {
  position: relative;
}
.triangle-shape {
  position: absolute;
  right: -20px;
  bottom: -48px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ff7a00;
  border-left: 100px solid transparent;
}
.triangle-shape::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 100px solid #1e1e1e;
  border-left: 100px solid transparent;
  z-index: 7;
}

.inner-round {
  position: relative;
}

.user-like span:last-child {
  padding-left: 17px;
  cursor: pointer;
}

.user-like span:first-child i {
  margin-right: 5px;
  cursor: pointer;
}

.reply {
  z-index: 12;
}

.reply span:first-child {
  padding-right: 17px;
  cursor: pointer;
}

.reply span:first-child i {
  padding-right: 5px;
}

.reply span:last-child i {
  padding-left: 5px;
}

.reply span:last-child {
  cursor: pointer;
}
